body{
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image:url('img/assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;    
    font-family:'zebars', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    height: 100%;
    

}
h1 {
  color: #333;
  text-align: center;
}

p {
  margin-bottom: 10px;
}

a {
  
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}
#backToGame {
  margin-top: 20px;
  position: absolute;
  top: 20px;   /* distance from top */
  right: 20px; /* distance from right edge */
}




.impressum{
    margin: 10px;
}